<footer class="footer bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-md-4">
          <h5>À propos de nous</h5> 
          <p>Votre destination idéale pour de magnifiques bijoux. Achetez maintenant et profitez des meilleures offres !</p>
        </div>
        <div class="col-12 col-md-4">
          <h5>Liens rapides</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Accueil</a></li>
            <li><a href="#" class="text-white">Boutique</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
            <li><a href="#" class="text-white">A propos de nous</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <h5>Contactez-nous</h5>
          <p>Email : fantasieShop&#64;gmail.com</p>
          <p>Téléphone : +216 55 350 231</p>
        </div>
      </div>
      <hr class="my-4" />
      <p class="mb-0">&copy; 2024 Brillance Fantaisie. All rights reserved.</p>
    </div>
  </footer>