<div class="container mt-5">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" required>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>

  <router-outlet></router-outlet>